@font-face {
	font-family: 'Baloo Tamma 2';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/BalooTamma2/BalooTamma2_400.woff2') format('woff2');
}

@font-face {
	font-family: 'Baloo Tamma 2';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/BalooTamma2/BalooTamma2_500.woff2') format('woff2');
}

@font-face {
	font-family: 'Baloo Tamma 2';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/BalooTamma2/BalooTamma2_600.woff2') format('woff2');
}

@font-face {
	font-family: 'Baloo Tamma 2';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/BalooTamma2/BalooTamma2_700.woff2') format('woff2');
}

@font-face {
	font-family: 'Baloo Tamma 2';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('/fonts/BalooTamma2/BalooTamma2_800.woff2') format('woff2');
}

@font-face {
	font-family: 'Zen Maru Gothic';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/ZenMaruGothic/ZenMaruGothic400.woff2') format('woff2');
}
