@font-face {
	font-family: 'Baloo Tamma 2';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/BalooTamma2/BalooTamma2_400.woff2') format('woff2');
}

@font-face {
	font-family: 'Baloo Tamma 2';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/BalooTamma2/BalooTamma2_700.woff2') format('woff2');
}

@font-face {
	font-family: 'M PLUS Rounded 1c';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/M_Plus_Rounded/M_PLUS_Rounded400.woff2') format('woff2');
}
