@import './config';

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Baloo Tamma 2', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.8;
	display: flex;
	@include mq('custom1600') {
		width: 1600px;
		margin: 0 auto !important;
	}
}

main {
	overflow: hidden;
	flex: 1;
	font-family: 'Baloo Tamma 2';
	font-style: normal;
	font-weight: 400;
	line-height: 1.8;
}

.skills__progress10 {
	@include skillsAnimation(10);
}

.skills__progress20 {
	@include skillsAnimation(20);
}

.skills__progress30 {
	@include skillsAnimation(30);
}

.skills__progress40 {
	@include skillsAnimation(40);
}

.skills__progress50 {
	@include skillsAnimation(50);
}

.skills__progress60 {
	@include skillsAnimation(60);
}

.skills__progress70 {
	@include skillsAnimation(70);
}

.skills__progress80 {
	@include skillsAnimation(80);
}

.skills__progress90 {
	@include skillsAnimation(90);
}

.skills__progress100 {
	@include skillsAnimation(100);
}
