---
import '@styles/main.scss';

import SideNav from './aside/SideNav.astro';
import Head from './head/Head.astro';
import Header from './header/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<Head title={title} />
	<body>
		<SideNav />
		<main>
			<Header />
			<slot />
		</main>
		<style lang="scss"></style>
	</body>
</html>
