---
import '@styles/main.scss';

import SideNav from './aside/SideNav.astro';
import Head from './head/Head.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<Head title={title} />
	<body>
		<SideNav />
		<slot />
	</body><style lang="scss">
		body {
			font-family: 'Zen Kaku Gothic New', sans-serif;
			font-weight: 500;
			color: #222327;
			font-size: 16px;
		}
	</style>
</html>
