@import '../../../../styles/config';

.form {
	position: relative;
	flex-basis: 40rem;
	display: flex;
	flex-direction: column;
	background-color: var(--tertiary-color-m);
	input,
	textarea {
		width: 100%;
		color: white;
		letter-spacing: 0.2rem;
		padding: 2rem;
		border: none;
		border-bottom: var(--secondary-color) solid 0.1rem;
		&::placeholder {
			color: white;
		}
	}
	&__text {
		position: absolute;
		font-family: 'Zen Maru Gothic', sans-serif;
		font-weight: bold;
		font-size: 20px;
		top: -40px;
		left: 50%;
		transform: translateX(-50%);
		color: var(--white);
	}
	&__input {
		position: relative;
		p {
			position: absolute;
			bottom: 0;
			right: 5px;
			color: red;
		}
	}
	input:-webkit-autofill,
	textarea:-webkit-autofill {
		-webkit-text-fill-color: var(--white);
		transition: background-color 500000000000s ease-in-out 0s;
	}
	textarea {
		height: 30vh;
	}

	input[type='submit'] {
		border: none;
		cursor: pointer;
	}
	input[aria-invalid='true'],
	textarea[aria-invalid='true'] {
		border-color: red;
	}
}
