$__breakpoints: (
	xs: 'screen and (min-width: 320px)',
	sm: 'screen and (min-width: 480px)',
	md: 'screen and (min-width: 768px)',
	lg: 'screen and (min-width: 992px)',
	xl: 'screen and (min-width: 1280px)',
	custom375: 'screen and (min-width: 375px)',
	custom600: 'screen and (min-width: 600px)',
	custom700: 'screen and (min-width: 700px)',
	custom900: 'screen and (min-width: 900px)',
	custom1024: 'screen and (min-width: 1024px)',
	custom1440: 'screen and (min-width: 1440px)',
	custom1600: 'screen and (min-width: 1600px)',
	safari: 'screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)'
) !default;

@mixin mq($__breakpoint: lg) {
	@media #{map-get($__breakpoints, $__breakpoint)} {
		@content;
	}
}

@mixin font-responsive($min, $max) {
	font-size: calc(#{$min}px + (#{$max} - #{$min}) * ((100vw - 375px) / (1600 - 375)));
}

@mixin sonarAnimation {
	fill: rgba(35, 52, 65, 0.1);
	transition:
		transform ease-out 0.1s,
		fill 0.5s;
	animation: sonar 1.3s ease-out 75ms;
	animation-fill-mode: forwards;
	opacity: 0.7;
	box-shadow: 0 0 0 0.2rem rgba(35, 52, 65, 0.1);
	transform: scale(0.9);
	stroke: #050c22;
	stroke-width: 0.5;

	@keyframes sonar {
		0% {
			opacity: 0.3;
		}
		40% {
			opacity: 0.5;
			box-shadow:
				0 0 0 0.2rem rgba(35, 52, 65, 0.1),
				0 0 0 15px #fff,
				0 0 0 15px rgba(35, 52, 65, 0.5);
		}
		100% {
			opacity: 0;
			box-shadow:
				0 0 0 0.2rem rgba(35, 52, 65, 0.1),
				0 0 0 15px #fff,
				0 0 0 15px rgba(35, 52, 65, 0.5);
			transform: scale(1);
		}
	}
}

@mixin skillsAnimation($percent) {
	animation: skill-#{$percent} infinite 4s cubic-bezier(1, 0, 0, 1);
	@if $percent == 10 {
		@keyframes skill-10 {
			0% {
				width: 0;
			}
			100% {
				width: 10%;
			}
		}
	} @else if $percent == 20 {
		@keyframes skill-20 {
			0% {
				width: 0;
			}
			100% {
				width: 20%;
			}
		}
	} @else if $percent == 30 {
		@keyframes skill-30 {
			0% {
				width: 0;
			}
			100% {
				width: 30%;
			}
		}
	} @else if $percent == 40 {
		@keyframes skill-40 {
			0% {
				width: 0;
			}
			100% {
				width: 40%;
			}
		}
	} @else if $percent == 50 {
		@keyframes skill-50 {
			0% {
				width: 0;
			}
			100% {
				width: 50%;
			}
		}
	} @else if $percent == 60 {
		@keyframes skill-60 {
			0% {
				width: 0;
			}
			100% {
				width: 60%;
			}
		}
	} @else if $percent == 70 {
		@keyframes skill-70 {
			0% {
				width: 0;
			}
			100% {
				width: 70%;
			}
		}
	} @else if $percent == 80 {
		@keyframes skill-80 {
			0% {
				width: 0;
			}
			100% {
				width: 80%;
			}
		}
	} @else if $percent == 90 {
		@keyframes skill-90 {
			0% {
				width: 0;
			}
			100% {
				width: 90%;
			}
		}
	} @else {
		@keyframes skill-100 {
			0% {
				width: 0;
			}
			100% {
				width: 100%;
			}
		}
	}
}
