---
import AssetManage from '@assets/images/projects/assets_manage.png';
import FramerMotion from '@assets/images/projects/framer-motion.png';
import Portfolio from '@assets/images/projects/portfolio-site.png';
import SekiSou from '@assets/images/projects/sei_sou_demo.png';

import ProjectCard from './ProjectCard.astro';

const data = [
	{
		title: "Daisuke's Portfolio",
		text: 'このサイトです。AstrojsとReact、Emailjsを使用して作成しました。',
		href: 'https://portfolio-site-henna-delta.vercel.app/',
		imageData: {
			src: Portfolio,
			alt: 'portfolio image'
		}
	},
	{
		title: '資産管理アプリ',
		text: '資産管理アプリです。株式資産を管理するために作成しました。Nextjs、supabaseを使用して作成しました。デモボタよりログインできます。',
		href: 'https://assets-management-app.vercel.app/auth/login',
		imageData: {
			src: AssetManage,
			alt: 'AssetManage Image'
		}
	},
	{
		title: 'アニメーションサイト',
		text: 'アニメーションライブラリ「framer-motion」の勉強のために作成しました。Nextjs、Typescript、framer-motionを使用しています。',
		href: 'https://framer-motion-study.vercel.app/',
		imageData: {
			src: FramerMotion,
			alt: 'AssetManage Image'
		}
	},
	{
		title: '積奏 デモサイト',
		text: '実在のショップサイト「積奏」のデモサイトを作成しました。ベーシック認証を設定しています（ユーザー名：test、パスワード：test1234）。',
		href: 'https://seki-sou-demo.vercel.app/',
		imageData: {
			src: SekiSou,
			alt: 'Sekisou demo Image'
		}
	}
];
---

<section id="projects" class="projects">
	<h2>My Projects</h2>
	<div class="projects__container">
		{
			data.map(project => (
				<a href={project.href} target="_blank" rel="noopener noreferrer">
					<ProjectCard
						title={project.title}
						text={project.text}
						imageData={project.imageData}
					/>
				</a>
			))
		}
	</div>
</section>

<style lang="scss">
	.projects {
		padding: calc(10px + 2vw);
		background-color: var(--secondary-color);
		h2 {
			font-size: 40px;
			color: var(--white);
			font-weight: 700;
		}
		&__container {
			display: grid;
			gap: 10px;
		}
		@include mq('custom900') {
			&__container {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
			h2 {
				text-align: center;
			}
		}
	}
</style>
