---
import AssetManage from '@assets/images/projects/assets_manage.png';
import FramerMotion from '@assets/images/projects/framer-motion.png';
import Portfolio from '@assets/images/projects/portfolio-site.png';
import SekiSou from '@assets/images/projects/sei_sou_demo.png';

import Dialog from './Dialog.astro';
import ProjectCard from './ProjectCard.astro';

const data = [
	{
		imageData: {
			src: Portfolio,
			alt: 'portfolio image'
		},
		dialogData: {
			title: 'ポートフォリオ',
			text: 'このWebページです。Astro、Reactを使用し、1枚のランディングページに仕上げました。',
			subText: 'Astro, HTML/CSS(SASS), React, Emailjs, Vercel',
			href: 'https://github.com/ninomiyadaisuke/portfolio-site',
			srces: [
				'/images/portfolio/portfolio_top.png',
				'/images/portfolio/portfolio_about.png',
				'/images/portfolio/portfolio_projects.png',
				'/images/portfolio/portfolio_contact.png'
			]
		}
	},
	{
		imageData: {
			src: AssetManage,
			alt: 'AssetManage Image'
		},

		dialogData: {
			title: '資産管理アプリ',
			text: '資産管理アプリです。株式資産を管理するために作成しました。既存のアプリでは、希望する機能がなかったため作成しました。機能としてはログインログアウト、日本株・外国株のCRUD、業種別セクター割合・センシティブ・ディフェンシブ割合、配当金割合をグラフで表示することができます。',
			subText:
				'Nextjs, Typescript, Tailwindcss, Supabase, Postgresql, Google Sheets Api, Exchange Rate API, Vercel',
			href: 'https://github.com/ninomiyadaisuke/assets-management-app',
			srces: [
				'/images/asset/asset_graph.png',
				'/images/asset/asset_list.png',
				'/images/asset/asset_create.png',
				'/images/asset/asset_login.png'
			]
		}
	},
	{
		imageData: {
			src: FramerMotion,
			alt: 'FramerMotion Image'
		},

		dialogData: {
			title: 'アニメーションサイト',
			text: 'アニメーションライブラリ「framer-motion」の勉強のために作成しました。Nextjs、Typescript、framer-motionを使用しています。',
			subText: 'Nextjs, framer-motion, Vercel',
			href: 'https://github.com/ninomiyadaisuke/framer-motion-study',
			srces: ['/images/motion/framer_motion.png']
		}
	},
	{
		imageData: {
			src: SekiSou,
			alt: 'Sekisou demo Image'
		},

		dialogData: {
			title: '積奏 デモサイト',
			text: '実在のショップサイト「積奏」のデモサイトを作成しました。画像・フォントの最適化をしてパフォーマンスを上げています。デモサイトのためベーシック認証を設定しています（ユーザー名：test、パスワード：test1234）。',
			subText: 'Astro, Typescript, HTML/CSS(SASS), Vercel',
			href: 'https://github.com/ninomiyadaisuke/seki-sou-demo',
			srces: [
				'/images/seki-sou/sekisou_top.png',
				'/images/seki-sou/sekisou_about.png',
				'/images/seki-sou/sekisou_products.png',
				'/images/seki-sou/performance.png'
			]
		}
	}
];
---

<section id="projects" class="projects">
	<h2>My Projects</h2>
	<div class="projects__container">
		{
			data.map((project, index) => (
				<>
					<ProjectCard imageData={project.imageData} />
					<Dialog dialogData={project.dialogData} index={index + 1} />
				</>
			))
		}
	</div>
</section>

<style lang="scss">
	.projects {
		padding: calc(10px + 2vw);
		background-color: var(--secondary-color);
		h2 {
			font-size: 40px;
			color: var(--white);
			font-weight: 700;
		}
		&__container {
			display: grid;
			gap: 10px;
		}
		@include mq('custom900') {
			&__container {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
			h2 {
				text-align: center;
			}
		}
	}
</style>
