:root {
	/* Custom Properties */
	/* Main Color */
	--primary-color: #014d4e;
	/* Secondary Color */
	--secondary-color: #ff9408;
	/* Secondary Color Modified */
	--secondary-color-m: #ff94088e;
	/* tertiary color */
	--tertiary-color: #017374;
	/* tertiary color modified */
	--tertiary-color-m: #01727498;
}
